rvl_alias "rvl_clk" "rvl_clk";
RVL_ALIAS "rvl_clk" "rvl_clk"; 
RVL_ALIAS "rvl_clk" "rvl_clk"; 
RVL_ALIAS "rvl_clk" "rvl_clk"; 
RVL_ALIAS "fpga_clk" "fpga_clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
LOCATE COMP "i_sd" SITE "L3" ;
LOCATE COMP "mclk" SITE "H6" ;
LOCATE COMP "o_ws" SITE "M2" ;
LOCATE COMP "o_sck" SITE "L2" ;
LOCATE COMP "rst_n" SITE "B3" ;
//LOCATE COMP "fifo_in1[17]" SITE "A4" ;
//LOCATE COMP "fifo_in1[18]" SITE "B4" ;
//LOCATE COMP "fifo_in1[19]" SITE "A5" ;
//LOCATE COMP "fifo_in1[20]" SITE "B5" ;
//LOCATE COMP "fifo_in1[21]" SITE "B7" ;
//LOCATE COMP "fifo_in1[22]" SITE "B6" ;
//LOCATE COMP "fifo_in1[23]" SITE "B9" ;
//LOCATE COMP "fifo_in1[24]" SITE "D9" ;
//LOCATE COMP "fifo_in1[25]" SITE "F7" ;
//LOCATE COMP "fifo_in1[26]" SITE "A10" ;
//LOCATE COMP "fifo_in1[27]" SITE "C4" ;
//LOCATE COMP "fifo_in1[28]" SITE "E6" ;
//LOCATE COMP "fifo_in1[29]" SITE "D6" ;
//LOCATE COMP "fifo_in1[30]" SITE "C5" ;
//LOCATE COMP "sample_clk" SITE "A3" ;
//LOCATE COMP "fifo_in1[31]" SITE "C7" ;
LOCATE COMP "o_sck_out" SITE "A3" ;
LOCATE COMP "o_ws_out" SITE "A4" ;
LOCATE COMP "i_sd_out" SITE "B4" ;
