RVL_ALIAS "osc_clk" "osc_clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "reset" SITE "B3" ;
BLOCK JTAGPATHS ;
LOCATE COMP "clk" SITE "A3" ;
LOCATE COMP "out[0]" SITE "A4" ;
LOCATE COMP "out[1]" SITE "B4" ;
LOCATE COMP "out[2]" SITE "A5" ;
LOCATE COMP "out[3]" SITE "B5" ;
LOCATE COMP "out[4]" SITE "B7" ;
LOCATE COMP "out[5]" SITE "B6" ;
LOCATE COMP "out[6]" SITE "B9" ;
LOCATE COMP "out[7]" SITE "D9" ;
LOCATE COMP "out[8]" SITE "F7" ;
LOCATE COMP "out[9]" SITE "A10" ;
LOCATE COMP "out[10]" SITE "C4" ;
LOCATE COMP "out[11]" SITE "E6" ;
LOCATE COMP "out[12]" SITE "D6" ;
LOCATE COMP "out[13]" SITE "C5" ;
LOCATE COMP "out[14]" SITE "C7" ;
