#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1612R.
#

# Period Constraints 
#FREQUENCY NET "my_pll/mclk_0" 190.7 MHz;
#FREQUENCY NET "my_pll/fpga_clk" 146.2 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "my_pll/mclk_0" TO CLKNET "my_pll/fpga_clk";
#BLOCK PATH FROM CLKNET "my_pll/fpga_clk" TO CLKNET "my_pll/mclk_0";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
