#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1062R.
#

# Period Constraints 
#FREQUENCY NET "port1/my_pll/o_sck_c" 224.4 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
