#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1062R.
#

# Period Constraints 
#FREQUENCY NET "my_pll/mclk_c" 224.4 MHz;
#FREQUENCY NET "my_pll/fpga_clk" 175.0 MHz;
#FREQUENCY NET "div8/o_sck_c" 224.4 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "my_pll/mclk_c" TO CLKNET "my_pll/fpga_clk";
#BLOCK PATH FROM CLKNET "my_pll/fpga_clk" TO CLKNET "my_pll/mclk_c";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
